flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f497140bcbdd802",
        "type": "redis-config",
        "name": "Redis",
        "options": "redis:6379",
        "cluster": false,
        "optionsType": "str"
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "${MQTT_PUB_HOST}",
        "port": "${MQTT_PUB_PORT}",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Subscriber",
        "broker": "${MQTT_SUB_HOST}",
        "port": "${MQTT_SUB_PORT}",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3ca20af8a00e4653",
        "type": "prometheus-metric-config",
        "name": "message_subscriber",
        "help": "Number of messages received",
        "labels": "host",
        "mtype": "counter"
    },
    {
        "id": "a566680eb78ef6ce",
        "type": "prometheus-metric-config",
        "name": "message_publisher",
        "help": "Number of message published",
        "labels": "host",
        "mtype": "counter"
    },
    {
        "id": "0cca531f0a119cba",
        "type": "redis-instance",
        "z": "3af82246.3634ae",
        "server": "8f497140bcbdd802",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 270,
        "y": 120,
        "wires": []
    },
    {
        "id": "b85444c3a88f3312",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "name": "Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a3aab12e5d95ff6",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$flowContext(\"message\").id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "c0478276e835fce0"
            ]
        ]
    },
    {
        "id": "c0478276e835fce0",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "server": "8f497140bcbdd802",
        "command": "get",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "2c40376d7b31310b"
            ]
        ]
    },
    {
        "id": "2c40376d7b31310b",
        "type": "switch",
        "z": "3af82246.3634ae",
        "name": "Chech ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "a6055749a2480e73",
                "40a63b03c40afe4a",
                "5fa573f53beb27ee"
            ],
            []
        ]
    },
    {
        "id": "a6055749a2480e73",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "extid",
                "pt": "msg",
                "to": "$string($flowContext(\"message\").id)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.extid,true,\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "extid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "7c4d3b848b6f8f2c"
            ]
        ]
    },
    {
        "id": "7c4d3b848b6f8f2c",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "server": "8f497140bcbdd802",
        "command": "set",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1060,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "227203e1655d69a8",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "name": "Subscriber",
        "topic": "${MQTT_SUB_TOPIC}",
        "qos": "2",
        "datatype": "auto",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "21cd4e32d1d7de30",
                "b094aad8f373ee84"
            ]
        ]
    },
    {
        "id": "21cd4e32d1d7de30",
        "type": "json",
        "z": "3af82246.3634ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "0a3aab12e5d95ff6"
            ]
        ]
    },
    {
        "id": "40a63b03c40afe4a",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "Prepare pub",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "message",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 180,
        "wires": [
            [
                "b85444c3a88f3312"
            ]
        ]
    },
    {
        "id": "dce01538e24a5176",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "name": "Subscriber",
        "metric": "3ca20af8a00e4653",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "b094aad8f373ee84",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\"host\": $env(\"MQTT_SUB_HOST\")},\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "dce01538e24a5176"
            ]
        ]
    },
    {
        "id": "77aa15e1cd8f8881",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "name": "Publisher",
        "metric": "a566680eb78ef6ce",
        "x": 1120,
        "y": 120,
        "wires": []
    },
    {
        "id": "5fa573f53beb27ee",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\"host\": $env(\"MQTT_SUB_HOST\")},\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 120,
        "wires": [
            [
                "77aa15e1cd8f8881"
            ]
        ]
    }
]