flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f9319440dce9b0d",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0cca531f0a119cba",
            "846fbfa4f7abf7b8",
            "77e15331ab74fbee",
            "c825801f7eec98ed",
            "dae14136f482103c",
            "9e6943f9ea115417",
            "437c51adccb5ac31",
            "6c2aa04153a511ed"
        ],
        "x": 154,
        "y": 39,
        "w": 652,
        "h": 302
    },
    {
        "id": "2cac6541d3b7ad29",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5ccebec688b13a48",
            "c13d3c5f9acc9999",
            "165bf02dd123e1ec",
            "7893c076e786e4d3",
            "5c209a5711b0b57b",
            "6b7d97a4c436188b",
            "ceecaff7daa453fd",
            "20927f815bc7ee7a",
            "9a06339a91653d83",
            "b1115d7b4bce6f22",
            "41b91a96767e65e6"
        ],
        "x": 154,
        "y": 379,
        "w": 1052,
        "h": 222
    },
    {
        "id": "0e2c3f294eb753b6",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ec172fe67348c6",
            "5a32454d94055eac",
            "e8e9918ab2ea8a60",
            "ad53549c2888fe15",
            "f0aaab7d00875d14",
            "83eb6e6b9aadb4ad",
            "923e6d83e67ea3db",
            "0ba924a28af55b20",
            "331f1c73fafe8ea7",
            "d1007e39ed03dbdd",
            "5af91b47829c129d",
            "df08c4d8b258e5c5",
            "634a216d184c5685",
            "850ec94753e2c28e",
            "8cb14b7b13a76f0d",
            "ec86dc1e4cca0f7c"
        ],
        "x": 154,
        "y": 859,
        "w": 1132,
        "h": 262
    },
    {
        "id": "62f91cf6e7d132d1",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0a2486d0f3d8bfd5",
            "cb4d866e631c01ae",
            "058e538b67b08227",
            "2529777ba693a23d",
            "5de67a43679f477b",
            "c45e61c6e55c6198",
            "1088ca7a02dfe855"
        ],
        "x": 154,
        "y": 639,
        "w": 832,
        "h": 182
    },
    {
        "id": "8f497140bcbdd802",
        "type": "redis-config",
        "name": "Redis",
        "options": "redis:6379",
        "cluster": false,
        "optionsType": "str"
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "${MQTT_PUB_HOST}",
        "port": "${MQTT_PUB_PORT}",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Subscriber",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3ca20af8a00e4653",
        "type": "prometheus-metric-config",
        "name": "message_subscriber",
        "help": "Number of messages received",
        "labels": "host",
        "mtype": "counter"
    },
    {
        "id": "a566680eb78ef6ce",
        "type": "prometheus-metric-config",
        "name": "message_publisher",
        "help": "Number of message published",
        "labels": "host",
        "mtype": "counter"
    },
    {
        "id": "0cca531f0a119cba",
        "type": "redis-instance",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "server": "8f497140bcbdd802",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "846fbfa4f7abf7b8",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Define Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "77e15331ab74fbee",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Define Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "c825801f7eec98ed",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "77e15331ab74fbee"
            ]
        ]
    },
    {
        "id": "dae14136f482103c",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c825801f7eec98ed",
                "9e6943f9ea115417",
                "437c51adccb5ac31"
            ]
        ]
    },
    {
        "id": "9e6943f9ea115417",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_SUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_SUB_BROKER\"),/wss/) or $contains($env(\"MQTT_SUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_SUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_SUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_SUB_BROKERVERSION\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "846fbfa4f7abf7b8"
            ]
        ]
    },
    {
        "id": "5ccebec688b13a48",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "437c51adccb5ac31",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Handle Monitoring",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "start",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "last_pub",
                "pt": "flow",
                "to": "start",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic_status",
                "pt": "flow",
                "to": "$env(\"MQTT_MONIT_TOPIC\") & \"/status\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic_pubsub",
                "pt": "flow",
                "to": "$env(\"MQTT_MONIT_TOPIC\")  & \"/pubsub\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "MQTT_MONIT_CENTREID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c13d3c5f9acc9999",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Remote Broker",
        "scope": [
            "0ba924a28af55b20"
        ],
        "x": 260,
        "y": 540,
        "wires": [
            [
                "41b91a96767e65e6"
            ]
        ]
    },
    {
        "id": "165bf02dd123e1ec",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "6b7d97a4c436188b",
                "9a06339a91653d83"
            ],
            [
                "5c209a5711b0b57b"
            ]
        ]
    },
    {
        "id": "7893c076e786e4d3",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "status.fill",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5c209a5711b0b57b",
        "type": "trigger",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Down",
        "op1": "",
        "op2": "down",
        "op1type": "nul",
        "op2type": "str",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 560,
        "wires": [
            [
                "ceecaff7daa453fd"
            ]
        ]
    },
    {
        "id": "6b7d97a4c436188b",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "5c209a5711b0b57b"
            ]
        ]
    },
    {
        "id": "ceecaff7daa453fd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"centreid\": $flowContext(\"centreid\"),\t   \"status\": $flowContext(\"status\")  \t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic_status",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 560,
        "wires": [
            [
                "5ccebec688b13a48"
            ]
        ]
    },
    {
        "id": "20927f815bc7ee7a",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"centreid\": $flowContext(\"centreid\"),\t   \"status\": $flowContext(\"status\")  \t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic_status",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "5ccebec688b13a48"
            ]
        ]
    },
    {
        "id": "9a06339a91653d83",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 675,
        "y": 460,
        "wires": [
            [
                "20927f815bc7ee7a"
            ]
        ],
        "l": false
    },
    {
        "id": "6c2aa04153a511ed",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "3f9319440dce9b0d",
        "name": "Initialize",
        "info": "",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "b1115d7b4bce6f22",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Monitor connection",
        "info": "",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "20ec172fe67348c6",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Anti-loop",
        "info": "",
        "x": 240,
        "y": 900,
        "wires": []
    },
    {
        "id": "5a32454d94055eac",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqttpayload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 980,
        "wires": [
            [
                "ad53549c2888fe15"
            ]
        ]
    },
    {
        "id": "ad53549c2888fe15",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "8f497140bcbdd802",
        "command": "get",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 660,
        "y": 980,
        "wires": [
            [
                "f0aaab7d00875d14"
            ]
        ]
    },
    {
        "id": "f0aaab7d00875d14",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Chech ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 980,
        "wires": [
            [
                "83eb6e6b9aadb4ad",
                "d1007e39ed03dbdd",
                "850ec94753e2c28e",
                "ec86dc1e4cca0f7c"
            ],
            []
        ]
    },
    {
        "id": "83eb6e6b9aadb4ad",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "extid",
                "pt": "msg",
                "to": "msg.mqttpayload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.extid,true,\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "extid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "923e6d83e67ea3db"
            ]
        ]
    },
    {
        "id": "923e6d83e67ea3db",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "8f497140bcbdd802",
        "command": "set",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1120,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "0ba924a28af55b20",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "topic": "${MQTT_SUB_TOPIC}",
        "qos": "2",
        "datatype": "auto",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "331f1c73fafe8ea7",
                "df08c4d8b258e5c5"
            ]
        ]
    },
    {
        "id": "331f1c73fafe8ea7",
        "type": "json",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 980,
        "wires": [
            [
                "e8e9918ab2ea8a60",
                "8cb14b7b13a76f0d"
            ]
        ]
    },
    {
        "id": "d1007e39ed03dbdd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prepare pub",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 960,
        "wires": [
            [
                "5a32454d94055eac"
            ]
        ]
    },
    {
        "id": "5af91b47829c129d",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "metric": "3ca20af8a00e4653",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "df08c4d8b258e5c5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\"host\": $env(\"MQTT_SUB_BROKER\")},\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "5af91b47829c129d"
            ]
        ]
    },
    {
        "id": "634a216d184c5685",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "metric": "a566680eb78ef6ce",
        "x": 1180,
        "y": 900,
        "wires": []
    },
    {
        "id": "850ec94753e2c28e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\"host\": $env(\"MQTT_SUB_BROKER\")},\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "634a216d184c5685"
            ]
        ]
    },
    {
        "id": "8cb14b7b13a76f0d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Received",
        "rules": [
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ec86dc1e4cca0f7c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Sent",
        "rules": [
            {
                "t": "set",
                "p": "last_pub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "0a2486d0f3d8bfd5",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Monitor last subscribe",
        "info": "",
        "x": 280,
        "y": 680,
        "wires": []
    },
    {
        "id": "cb4d866e631c01ae",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "1088ca7a02dfe855"
            ]
        ]
    },
    {
        "id": "058e538b67b08227",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Started ?",
        "property": "last_pub",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "2529777ba693a23d"
            ],
            [
                "5de67a43679f477b"
            ]
        ]
    },
    {
        "id": "2529777ba693a23d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Not started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"centreid\": $flowContext(\"centreid\"),\t   \"status\": -1  \t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic_pubsub",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 740,
        "wires": [
            [
                "c45e61c6e55c6198"
            ]
        ]
    },
    {
        "id": "5de67a43679f477b",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Since",
        "rules": [
            {
                "t": "set",
                "p": "last_received",
                "pt": "msg",
                "to": "( payload - $flowContext(\"last_pub\") ) / 1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"centreid\": $flowContext(\"centreid\"),\t   \"status\": last_received  \t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic_pubsub",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 780,
        "wires": [
            [
                "c45e61c6e55c6198"
            ]
        ]
    },
    {
        "id": "c45e61c6e55c6198",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 900,
        "y": 760,
        "wires": []
    },
    {
        "id": "41b91a96767e65e6",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Monitor ?",
        "property": "topic_status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "/status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "165bf02dd123e1ec",
                "7893c076e786e4d3"
            ]
        ]
    },
    {
        "id": "1088ca7a02dfe855",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Monitor ?",
        "property": "topic_pubsub",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "/pubsub",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "058e538b67b08227"
            ]
        ]
    }
]